*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json
!doc
!doc/**
doc/webserv\ 22.1.pdf
!inc
!inc/**
!src
!src/**
!bin
!bin/cgi-bin
!bin/cgi-bin/**
!bin/default.cfg
!bin/www
!bin/www/**
!leaks
!Makefile
!.gitignore
!README.md
!LICENSE